<launch>
    <!-- Use groups if you want to launch several nodes for multiple devices.
    Make sure to use different param files for each sensor. -->
    <!-- <group ns="sensor_1"> -->
        <node  name="xsens_mti_node" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
            <rosparam command="load" file="$(find xsens_mti_driver)/param/xsens_mti_node.yaml" />
        </node>
    <!-- </group> -->
</launch>
